<form method="post" action="/new">
	<input type="text" name="firstname" placeholder="First Name" />
	<input type="text" name="lastname" placeholder="Last Name" />
	<input type="text" name="age" placeholder="Age" />
	<input type="text" name="username" placeholder="Username" />
	<button type="submit">Submit New User</button>
</form>