<form method="POST" action="/user">
	<input type="text" name="firstname" placeholder="First Name" />
	<input type="text" name="lastname" placeholder="Last Name" />
	<input type="text" name="age" placeholder="Age" />
	<input type="text" name="username" placeholder="Username" />
	<button type="submit">Submit</button>
</form>